body{
  font-family: 'Stylish', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.6;
  color: #000;

}

.body__index {
  background-color: #29b3e7;
}

.body__about {
  background-color: #7b6ff9;
}

.body__contact {
  background-color: #24cddb;
}

.body__work{
  background-color: #7b6ff9;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;

}

.p__profile{
  text-align: center;
}

a {
  color: #000;
  -webkit-transition: .4s opacity, .4s font-size;
  -o-transition: .4s opacity, .4s font-size;
  transition: .4s opacity, .4s font-size;
}

a:visited {
  /* visited link */
  color: #1114cc;
}

a:hover {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: #fff;
  opacity: .8;
  font-size: 28px;
  }

a:focus {
  /* No underlining when hovering over a link */
  text-decoration: none;
  color: #fff;
  opacity: .8;
  font-size: 28px;
  }

a:active {
  /* selected link */
  color: #000;
}

button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #24cddb;
  color: #000;
  text-decoration: none;
  /* adds spacing to the button */
  padding: 10px;
  border-radius: 3px;
  /* give the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0,0,0,0.3);
  -webkit-transition: 0.9s opacity, .9s font-size;
  -o-transition: 0.9s opacity, .9s font-size;
  transition: 0.9s opacity, .9s font-size;
}

.button {
  /* overwrites browser defaults and resets the border */
  border: none;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the background color, font color, and text decoration (underline, etc.) of the button */
  background-color: #24cddb;
  color: #000;
  text-decoration: none;
  /* adds spacing to the button */
  padding: 10px;
  border-radius: 3px;
  /* give the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid rgba(0,0,0,0.3);
  -webkit-transition: 0.9s opacity, .9s font-size;
  -o-transition: 0.9s opacity, .9s font-size;
  transition: 0.9s opacity, .9s font-size;
}

button:hover, button:focus,
.button:hover, .button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
  font-size: 28px;

}

.navigation-list__item--active {
  text-decoration: none;
}

.contact-information{
  text-align: center;
}

#form__button {
  background-color: #7b6ff9;
  font-family: inherit;
  color: #000;
  text-decoration: none;
}

#form__button:hover, #form__button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.profile__portrait{
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
}

table{
  margin: 20px auto;
}
.page__footer{
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile{
  max-width: 700px;
  margin: 0 auto;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: double;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list{
  list-style-type: none;
}

.navigation-list li{
  display: inline-block;
  margin-left: 15px;
}

.project-list__item{
  display: inline-block;
  width: 33%;

}
.project-list{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.project-list__item{
  background-color: #24cddb;
  padding: 10px;
  width: auto;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

.page-header__logo{
  border-style: double;
  border-width: 5px;
  border-color: #000;
}

@media all and (max-width: 750px){
  /* shared code */
}

@media all and (max-width: 500px){
  .project-list{
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px){
  .project-list{
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width:750px){
  .project-list{
    grid-gap: 10px;
  }
  h1{
    font-size: 22px;
  }
}

.about{
  text-align: center;
}

.berlin-illustration{
  display: block;
  margin: 0 auto;
  border: 10px solid #fff;
}

@-webkit-keyframes color-change{
  0%{
    fill: #edc655;
  }
  50%{
    fill: #fcffad;
  }
  100%{
    fill: #fff;
  }
}

@keyframes color-change{
  0%{
    fill: #edc655;
  }
  50%{
    fill: #fcffad;
  }
  100%{
    fill: #fff;
  }
}

.sun{
  -webkit-animation: 4s color-change infinite alternate linear;
          animation: 4s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move{
  from{
    -webkit-transform: translate(0,50px);
            transform: translate(0,50px);
  }
  to{
    -webkit-transform:translate(200px,50px);
            transform:translate(200px,50px);
  }
}

@keyframes cloud-move{
  from{
    -webkit-transform: translate(0,50px);
            transform: translate(0,50px);
  }
  to{
    -webkit-transform:translate(200px,50px);
            transform:translate(200px,50px);
  }
}

.cloud-front{
  -webkit-animation: 30s cloud-move infinite alternate linear;
          animation: 30s cloud-move infinite alternate linear;
}

@-webkit-keyframes cloud-move-reverse{
  from{
    -webkit-transform:translate(446px,48px);
            transform:translate(446px,48px);
  }
  to{
    -webkit-transform:translate(100px,48px);
            transform:translate(100px,48px);
  }
}

@keyframes cloud-move-reverse{
  from{
    -webkit-transform:translate(446px,48px);
            transform:translate(446px,48px);
  }
  to{
    -webkit-transform:translate(100px,48px);
            transform:translate(100px,48px);
  }
}

.cloud-back{
  -webkit-animation: 30s cloud-move-reverse infinite alternate linear;
          animation: 30s cloud-move-reverse infinite alternate linear;
}

@-webkit-keyframes background-color-change{
  0%{
    background-color:#add8e6;
  }
  50%{
    background-color: #57eaf6;
  }
  100%{
    background-color:#00008b;
  }
}

@keyframes background-color-change{
  0%{
    background-color:#add8e6;
  }
  50%{
    background-color: #57eaf6;
  }
  100%{
    background-color:#00008b;
  }
}

.berlin-illustration{
  -webkit-animation: 4s background-color-change infinite alternate linear;
          animation: 4s background-color-change infinite alternate linear;
}
